# PHP files will not be called directly...

<FilesMatch ".*\.php$">
    Require all denied
</FilesMatch>

<FilesMatch ".*\.js\.php$">
    Require all granted
</FilesMatch>

<FilesMatch ".*phs_[a-zA-Z0-9_]+\.json$">
    Require all denied
</FilesMatch>
