# PHP files will not be called directly...

Options -Indexes

<FilesMatch ".+\.js\.php$">
    Require all granted
</FilesMatch>

# Allow resources in templates directory
#<If "%{REQUEST_URI} =~ m#.+/templates/.+\.(gif|jpeg|jpg|png|svg|css|js)#">
#    Require all granted
#</If>
<If "%{REQUEST_URI} =~ m#.*/plugins/[^/]+/templates/.+\.[^php]+$#">
    Require all granted
</If>

Require all denied
